@keyframes apparition {
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  font-family: roboto;
}

body {
  max-width: 1440px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
  position: relative;
}
.header .header__logo .header__logo--img {
  width: 12.5em;
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #EAEAEA;
}
.position p {
  font-weight: 500;
}

.explore {
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.explore h1 {
  width: 90%;
  text-align: center;
  font-size: 1.5em;
}
.explore p {
  width: 90%;
  text-align: center;
  font-weight: 300;
  font-size: 1.125em;
  margin-top: 0;
}
.explore .explore__btn {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border-radius: 25px;
  color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 218px;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
}

.process {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  margin-bottom: 50px;
}
.process .process__cont .process__step {
  background-color: #F6F6F6;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 5px 20px 5px 0;
}
.process .process__cont .process__step .process__number {
  left: -10px;
  position: absolute;
  background-color: #9356DC;
  border-radius: 25px;
  padding: 5px 10px;
}
.process .process__cont .process__step .process__number p {
  margin: 0;
  color: white;
}
.process .process__cont .process__step .fa-solid {
  margin-left: 30px;
}
@media (min-width: 768px) {
  .process .process__cont {
    display: flex;
    gap: 5%;
  }
}

.restaurant {
  background-color: #F6F6F6;
  padding: 25px 0 70px;
}
.restaurant h2 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.restaurant .restaurant__cont {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 768px) {
  .restaurant .restaurant__cont {
    flex-direction: row;
    width: 95%;
    margin-right: 0;
    gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.restaurant .restaurant__cont .restaurant__art {
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background-color: white;
}
@media (min-width: 768px) {
  .restaurant .restaurant__cont .restaurant__art {
    width: 45%;
  }
}
.restaurant .restaurant__cont .restaurant__art a {
  text-decoration: none;
  color: black;
}
.restaurant .restaurant__cont .restaurant__art .restaurant__img {
  height: 11em;
  position: relative;
}
@media (min-width: 768px) {
  .restaurant .restaurant__cont .restaurant__art .restaurant__img {
    height: 12em;
  }
}
.restaurant .restaurant__cont .restaurant__art .restaurant__img .restaurant__img--size {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurant .restaurant__cont .restaurant__art .restaurant__img p {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #99E2D0;
  padding: 6px 8px;
  color: #008766;
  font-weight: 500;
}
.restaurant .restaurant__cont .restaurant__art .restaurant__cont-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}
.restaurant .restaurant__cont .restaurant__art .restaurant__cont-info h3 {
  margin: 8px 0;
}
.restaurant .restaurant__cont .restaurant__art .restaurant__cont-info p {
  margin-top: 0;
}
.restaurant .restaurant__cont .restaurant__art .restaurant__cont-info .stack {
  position: relative;
}
.restaurant .restaurant__cont .restaurant__art .restaurant__cont-info .stack .anim {
  position: absolute;
  color: transparent;
  transition: all 500ms;
  padding: 0px;
  transform: scale(0);
  transition-property: transform;
  bottom: 2px;
  left: 0px;
}
.restaurant .restaurant__cont .restaurant__art .restaurant__cont-info .stack:hover > .anim {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  transform: scale(1.1);
  -webkit-background-clip: text;
}

.footer {
  background-color: #353535;
  padding: 25px;
  color: white;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 35px;
  }
}
.footer .footer__logo {
  height: 1.688em;
}
.footer .footer__logo img {
  height: 100%;
  filter: invert(1);
}
@media (min-width: 768px) {
  .footer .footer__logo {
    margin-right: 35px;
  }
}
.footer .footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media (min-width: 768px) {
  .footer .footer__list {
    flex-direction: row;
    gap: 35px;
  }
}
.footer .footer__list li {
  display: flex;
  gap: 6px;
  align-items: center;
}

.arrow {
  font-size: 25px;
  position: absolute;
  left: 10px;
  text-decoration: none;
  color: black;
}

.menu .menu__img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.menu .menu__cont {
  width: 100%;
  background-color: #F6F6F6;
  position: relative;
  border-radius: 40px 40px 0 0;
  max-width: 1055px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  margin-top: -32px;
}
.menu .menu__cont .menu__cont--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.75em;
}
@media (min-width: 768px) {
  .menu .menu__cont .menu__cont--title {
    justify-content: center;
    gap: 25px;
  }
}
.menu .menu__cont .menu__cont--title h1 {
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
}
.menu .menu__cont .menu__cont--title .stack {
  position: relative;
}
.menu .menu__cont .menu__cont--title .stack .anim {
  position: absolute;
  color: transparent;
  transition: all 500ms;
  padding: 0px;
  transform: scale(0);
  transition-property: transform;
  bottom: 3px;
  left: 0px;
}
.menu .menu__cont .menu__cont--title .stack:hover > .anim {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  transform: scale(1.1);
  -webkit-background-clip: text;
}
.menu .menu__cont .menu__cont--meal {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .menu .menu__cont .menu__cont--meal {
    width: 65%;
  }
}
.menu .menu__cont .menu__cont--meal h2 {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 0;
}
.menu .menu__cont .menu__cont--meal .menu__cont--underline {
  width: 40px;
  height: 0.25em;
  background-color: #99E2D0;
  margin: 0;
  padding: 0;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art:nth-child(3) {
  animation: apparition 0.8s 0.2s ease-out forwards;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art:nth-child(4) {
  animation: apparition 0.8s 0.4s ease-out forwards;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art:nth-child(5) {
  animation: apparition 0.8s 0.6s ease-out forwards;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art:nth-child(6) {
  animation: apparition 0.8s 0.8s ease-out forwards;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: end;
  background-color: white;
  border-radius: 15px;
  height: 95px;
  opacity: 0;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art .menu__cont--art2 {
  display: flex;
  align-items: end;
  background-color: white;
  border-radius: 15px;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  height: 100%;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art .menu__cont--art2 .menu__cont--name {
  overflow: hidden;
  height: 100%;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art .menu__cont--art2 .menu__cont--name h3 {
  overflow: hidden;
  height: 24%;
  font-weight: 500;
  font-size: 18px;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art .menu__cont--art2 .menu__cont--name p {
  height: 20%;
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art .menu__cont--art2 .menu__cont--price {
  padding-left: 20px;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art .checkbox {
  background-color: #99E2D0;
  width: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  transform: translateX(0px);
  transition: all 500ms;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art .checkbox .fa-circle-check {
  color: white;
  opacity: 0;
  font-size: 0;
  transform: rotate(360deg);
  transition: transform 500ms, opacity 0ms, font-size 0ms;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art:hover > .checkbox {
  width: 20%;
}
.menu .menu__cont .menu__cont--meal .menu__cont--art:hover > .checkbox .fa-circle-check {
  transform: rotate(0deg);
  opacity: 100;
  font-size: 30px;
}
.menu .menu__cont .menu__cont--contbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.menu .menu__cont .menu__cont--contbtn .menu__cont--btn {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border-radius: 25px;
  color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  width: 186px;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
