$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: #F6F6F6;
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin background-color {
    background-color: $background-color;
}
@mixin width-center {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@mixin btn {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border-radius: 25px;
    color: white;
}
@mixin box-shadow {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@keyframes apparition {
    100%{
        opacity: 1;
    }
}

* {
    box-sizing: border-box;
    font-family: roboto;
}
body {
    max-width: 1440px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    
}

.header {
    @include flex-center();
    margin: 12px 0;
    position: relative;
    .header__logo {
        .header__logo--img{
            width: 12.5em;
        }
    }
}
.position {
    @include flex-center();
    gap: 16px;
    background-color: #EAEAEA;
    p {
        font-weight: 500;
    }

}
.explore {
    @include background-color();
    @include flex-center();
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    h1 {
        width: 90%;
        text-align: center;
        font-size: 1.500em;
    }
    p {
        width: 90%;
        text-align: center;
        font-weight: 300;
        font-size: 1.125em;
        margin-top: 0;
    }
    .explore__btn {
        @include btn();
        @include box-shadow();
        width: 218px;
        padding: 15px 10px;
        text-align: center;
        text-decoration: none;
    }
}
.process {
    @include width-center(); 
    padding-top: 25px;
    margin-bottom: 50px;
   
    .process__cont {
        .process__step {
            @include background-color();
            margin-bottom: 20px;
            border-radius: 20px;
            @include box-shadow();
            display: flex;
            align-items: center; 
            gap: 20px;
            position: relative;
            padding: 5px 20px 5px 0;
            .process__number {
                left: -10px;
                position: absolute;
                background-color: $primary-color;
                border-radius: 25px;
                padding: 5px 10px;
                p {
                    margin: 0;
                    color: white;
                }
            }
            .fa-solid {
                margin-left: 30px;
            }
        }
        @media (min-width: 768px) {
            display: flex;
            gap: 5%;
        }
    }
}

.restaurant {
    @include background-color();
    padding: 25px 0 70px;
    
    h2 {
        @include width-center();
    }
    .restaurant__cont{
        @include width-center();
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media (min-width: 768px) {
            flex-direction: row;
            width: 95%;
            margin-right: 0;
            gap: 45px;
            justify-content: center;
            flex-wrap: wrap;
        }
        .restaurant__art {
            width: 100%;
            @include box-shadow();
            border-radius: 15px;
            background-color: white;
            @media (min-width: 768px) {
                width: 45%;
            }

            a {
                text-decoration: none;
                color: black
            }
            .restaurant__img {
                height: 11em;
                position: relative;
                @media (min-width: 768px) {
                    height: 12em;
                }
                
                .restaurant__img--size {
                    height: 100%;
                    width: 100%;
                    border-radius: 15px 15px 0 0;
                    object-fit: cover;
                    
                }
                p {
                    position: absolute;
                    top: 0;
                    right: 20px;
                    background-color: $tertiary-color;
                    padding: 6px 8px;
                    color: #008766;
                    font-weight: 500;
                }
            }
            .restaurant__cont-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 10px;
                h3 {
                    margin: 8px 0;
                }
                p {
                    margin-top: 0;
                }
                .stack {
                    position: relative;
                    .anim {

                        position: absolute;
                        color: transparent;
                        transition: all 500ms;
                        padding: 0px;
                        transform: scale(0.0);
                        transition-property: transform;
                        bottom: 2px;
                        left: 0px;
                    
                    }
                    &:hover > .anim {
                        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                        transform: scale(1.1);
                        -webkit-background-clip: text;
                    }
                    
                }
                        
            }
        }

    }
    
}
.footer {
    background-color: #353535;
    padding: 25px;
    color: white;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 35px;
    }
    .footer__logo {
        height: 1.688em;
        img {
            height: 100%;
            filter: invert(1);
        }
        @media (min-width: 768px) {
            margin-right: 35px;
        }
    }
    .footer__list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 6px;
        @media (min-width: 768px) {
            flex-direction: row;
            gap: 35px;
        }
        li {
            display: flex;
            gap: 6px;
            align-items: center;
        }
    }
}
.arrow {
    font-size: 25px;
    position: absolute;
    left: 10px;
    text-decoration: none;
    color: black;
}
.menu {
    .menu__img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    .menu__cont {
        width: 100%;
        background-color: $background-color;
        position: relative;
        border-radius: 40px 40px 0 0;
        max-width: 1055px;
        margin-left: auto;
        margin-right: auto;
        z-index: 2;
        margin-top: -32px;
        .menu__cont--title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.750em;
            @media (min-width: 768px) {
                justify-content: center;
                gap: 25px;
            }
            h1 {
                font-family: Shrikhand;
                font-style: italic;
                font-weight: 400;
            }
            .stack {
                position: relative;
                .anim {

                    position: absolute;
                    color: transparent;
                    transition: all 500ms;
                    padding: 0px;
                    transform: scale(0.0);
                    transition-property: transform;
                    bottom: 3px;
                    left: 0px;
                
                }
                &:hover > .anim {
                    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                    transform: scale(1.1);
                    -webkit-background-clip: text;
                }
                
            }
            
        }
        .menu__cont--meal {
            gap: 10px;
            display: flex;
            flex-direction: column;
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            @media (min-width: 768px) {
                width: 65%;
            }
            h2 {
                font-weight: 300;
                font-size: 1em;
                margin-bottom: 0;
            }
            .menu__cont--underline {
                width: 40px;
                height: 0.25em;
                background-color: $tertiary-color;
                margin: 0;
                padding: 0;
            }
            .menu__cont--art:nth-child(3){
                animation: apparition 0.8s 0.2s ease-out forwards;
            }
            .menu__cont--art:nth-child(4){
                animation: apparition 0.8s 0.4s ease-out forwards;
            }
            .menu__cont--art:nth-child(5){
                animation: apparition 0.8s 0.6s ease-out forwards;
            }
            .menu__cont--art:nth-child(6){
                animation: apparition 0.8s 0.8s ease-out forwards;
            }
            .menu__cont--art {
                @include box-shadow();
                display: flex;
                align-items: end;
                background-color: white;
                border-radius: 15px;
                height: 95px;
                opacity: 0;
                .menu__cont--art2{
                    display: flex;
                    align-items: end;
                    background-color: white;
                    border-radius: 15px;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 20px;
                    overflow: hidden;
                    height: 100%;
                    .menu__cont--name {
                        overflow: hidden;
                        height: 100%;
                        h3 {
                            overflow: hidden;
                            height: 24%;
                            font-weight: 500;
                            font-size: 18px;
                        }
                        p {
                            height: 20%;
                            font-weight: 300;
                            font-size: 15px;
                            overflow: hidden;
                        }
                    }
                    .menu__cont--price {
                        padding-left: 20px;
                    }
                }
                
                .checkbox {
                    background-color: $tertiary-color;
                    width: 0%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0 15px 15px 0;
                    transform: translateX(0px);
                    transition: all 500ms;
                    .fa-circle-check {
                        color: white;
                        opacity: 0;
                        font-size: 0;
                        transform: rotate(360deg);
                        transition: transform 500ms, opacity 0ms, font-size 0ms;
                    }
                }
                &:hover > .checkbox {
                    width: 20%;
                    .fa-circle-check {
                        transform: rotate(0deg);
                        opacity: 100;
                        font-size: 30px;
                    }
                }
                
                
            }
        }
        .menu__cont--contbtn {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 25px 0;
            .menu__cont--btn{
                @include btn();
                @include box-shadow();
                width: 186px;
                padding: 15px 10px;
                text-align: center;
                text-decoration: none;
            }
        }
        
        
    }
    
}

